:root
{
--header-height: 2em;
}

html,
body
{
margin: 0;
padding: 0;
}

*
{
box-sizing: border-box;
}

#app > header
{
background-color: black;
color: white;
display: flex;
height: var(--header-height);
}

button
{
}

#overlay
{
display: none;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: rgba(0, 0, 0, 0.9);
}

#overlay.shown
{
display: block;
}